@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    border: none;
    background: none;
}

:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --grayish-blue: hsl(220, 14%, 75%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
}

body {
    width: 100%;
    height: 100vh;
    font-family: "Kumbh Sans", sans-serif;
    background-color: var(--white);
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header div#collapse-content {
    width: 1270px;
    height: 100%;
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
}

header nav ul {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 17px;
}

header nav ul li {
    height: 100%;
    display: block;
}

header nav ul li a {
    position: relative;
    height: 100%;
    color: var(--dark-grayish-blue);
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: left;
    transition: all .3s ease;
}

header nav ul li a::after {
    position: absolute;
    content: " ";
    bottom: 5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--orange);
    transition: all .3s ease;
}

header nav ul li a:hover::after {
    width: 100%;
    transform-origin: right;
}

/* header nav ul li a:hover {
    border-bottom: 2px solid orange;
} */


header div#separate-items {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

header div#separate-items div#cart {
    position: relative;
}

header div#separate-items div#cart i {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
}

header div#separate-items div#items-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -17px;
    right: -8px;
    width: 26px;
    height: 17px;
    background-color: var(--orange);
    border-radius: 10px;
    color: var(--white);
    font-size: 10px;
}

header div#separate-items img {
    width: 50px;
    cursor: pointer;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

header div#separate-items div#resume-cart {
    display: none;
    position: absolute;
    top: 89px;
    right: -10px;
    width: 380px;
    background-color: var(--white);
    box-shadow: 0px 6px 9px 9px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 10px 0px;
}

header div#separate-items div#resume-cart div#resume-cart-header {
    padding: 15px;
    border-bottom: 0.5px solid #b1b1b1;
}
/* 
header div#separate-items div#resume-cart div#resume-cart-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    width: 100%;
    background-color: var(--white);
    padding: 9px 18px;
    margin: 5px 0px;
}

header div#separate-items div#resume-cart div#resume-cart-body div#resume-cart-image {
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}

header div#separate-items div#resume-cart div#resume-cart-body div#resume-cart-image img {
    width: 80px;
    height: 100%;
}

header div#separate-items div#resume-cart div#resume-cart-description {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

header div#separate-items div#resume-cart div#resume-cart-description div#resume-cart-description-tittle {
    text-transform: capitalize;
    font-weight: 500;
    color: var(--dark-grayish-blue);
}

header div#separate-items div#resume-cart div#resume-cart-description div#resume-cart-description-body {
    display: flex;
    align-items: center;
    gap: 5px;
}

header div#separate-items div#resume-cart div#resume-cart-description div#resume-cart-description-body span#current-price-view, span#quant-buy {
    color: var(--dark-grayish-blue);
}

header div#separate-items div#resume-cart div#resume-cart-description div#resume-cart-description-body span#final-price {
    font-weight: bold;
    color: var(--black);
}

header div#separate-items div#resume-cart div#resume-cart-delete-items img {
    width: 20px;
}

header div#separate-items div#resume-cart div#resume-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px 18px;
    padding-bottom: 10px;
}

header div#separate-items div#resume-cart div#resume-cart-button button {
    width: 100%;
    color: var(--white);
    background-color: var(--orange);
    padding: 14px 12px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.1rem;
} */

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    width: 1270px;
    height: auto;
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 30px;
}

main div#sneakers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

main div#sneakers-container div#sneakers-display {
    width: 470px;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
}

main div#sneakers-container div#sneakers-display img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main div#sneakers-container div#select-sneakers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    width: 470px;
}

main div#sneakers-container div#select-sneakers .select-images-sneakers {
    width: 90px;
    height: 75px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

main div#sneakers-container div#select-sneakers .select-images-sneakers.active {
    border: 2px solid hsl(26, 100%, 55%);
    filter: contrast(50%);
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
}

section div#tittle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 15px;
}

section div#tittle h6 {
    color: var(--orange);
    letter-spacing: 2px;
    text-transform: uppercase;
}

section div#tittle h1 {
    font-size: 2.4rem;
    text-transform: capitalize;
}

section div#description-and-price {
    display: flex;
    flex-direction: column;
    row-gap: 23px;
    padding-right: 20px;
}

section div#description-and-price p {
    color: var(--dark-grayish-blue);
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    line-height: 1.7em;
}

section div#description-and-price div#price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

section div#description-and-price div#price div#current {
    display: flex;
    align-items: center;
    gap: 18px;
}

section div#description-and-price div#price div#current div#current-price {
    font-weight: bold;
    font-size: 2.3rem;
    color: var(--black);
}

section div#description-and-price div#price div#current div#descont-applicated {
    background-color: var(--pale-orange);
    padding: 5px 10px;
    border-radius: 5px;
}

section div#description-and-price div#price div#ancient-price {
    color: var(--grayish-blue);
    font-size: 15px;
    font-weight: 700;
    text-decoration: line-through;
}

section div#select-quant-and-add-cart {
    display: flex;
    align-items: center;
    gap: 14px;
}

section div#select-quant-and-add-cart div#quant {
    background-color: #d0d0d05e;
    display: flex;
    align-items: center;
    width: 170px;
    height: 45px;
    border-radius: 5px;
}

section div#select-quant-and-add-cart div#quant button {
    color: var(--orange);
    font-weight: 800;
    font-size: 1.2rem;
    padding: 0px 10px;
    width: 50px;
    cursor: pointer;
}

section div#select-quant-and-add-cart div#quant button:active img {
    transform: scale(.9);
}

section div#select-quant-and-add-cart div#quant div#valuePrice {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 5px;

    & p {
        font-weight: bold;
        font-size: 1.1rem;
        text-align: center;
        color: var(--black);
    }
}

section div#select-quant-and-add-cart div#add-cart button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    font-size: 0.97rem;
    width: 250px;
    height: 45px;
    padding: 10px 15px;
    color: var(--white);
    background-color: var(--orange);
    border-radius: 5px;
    cursor: pointer;

    & i {
        vertical-align: middle;
    }
}

section div#select-quant-and-add-cart div#add-cart button span {
    font-weight: 700;
}

div.container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.475);
}

div.container section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 500px;
}

div.container section div#close-all {
    position: relative;
    top: 10px;
    right: -480px;
    align-self: flex-start;
    justify-self: right;
    padding-top: 25px;
    transition: all .2s ease;
}

div.container section div#close-all button {
    background-color: transparent;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}

div.container section div#close-all button:active {
    transform: scale(.8);
}

div.container section div#close-all button:hover {
    color: var(--orange);
}

div.container section #slider-images {
    position: relative;
    width: 500px;
    height: 470px;
}

div.container section #slider-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px !important;
}

div.container section #slider-images div#slider-images-buttons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.container section #slider-images div#slider-images-buttons button {
    background-color: var(--grayish-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: var(--black);
    font-weight: 400;
    font-size: 1.3rem;
    margin: 0px -25px;
    cursor: pointer;
    transition: color .3s ease;
}

div.container section #slider-images div#slider-images-buttons button:active {
    transform: scale(.9);
}

div.container section #slider-images div#slider-images-buttons button:hover {
    color: var(--orange);
}

div.container section div#group-images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
}

div.container section div#group-images .group-images-img {
    width: 90px;
    height: 75px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

div.container section div#group-images .group-images-img.active {
    border: 2px solid hsl(26, 100%, 55%);
    filter: contrast(50%);
}